<html><head><style>/* https://www.ttmkt.com/kr/tools/markdown-to-html/ */
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
    
     body {
        color: black;
        font-family: 'Noto Sans KR';
     }
    
    table {
        width: 100%;
    }
    
    table, td, th {
        border: 1px solid darkgray;
        border-collapse: collapse;
        font-family: 'Noto Sans KR';
        height:50px;
    };</style></head><body><h1 id="-">나루토 랜덤 디펜스</h1>
    <hr>
    <h2 id="-">목차</h2>
    <ol>
    <li><p><a href="#조합법">조합법</a></p>
    <ul>
    <li><a href="#스페셜-유닛">스페셜 유닛</a></li>
    <li><a href="#히든-유닛">히든 유닛</a></li>
    <li><a href="#리미트-유닛">리미트 유닛</a></li>
    <li><a href="#영멸-유닛">영멸 유닛</a></li>
    </ul>
    </li>
    <li><p><a href="#디버프-유닛">디버프 유닛</a></p>
    <ul>
    <li><a href="#스턴">스턴</a></li>
    <li><a href="#마비">마비</a></li>
    <li><a href="#둔화">둔화</a></li>
    <li><a href="#속박">속박</a></li>
    <li><a href="#혼란">혼란</a></li>
    <li><a href="#중독">중독</a></li>
    <li><a href="#고유">고유</a></li>
    </ul>
    </li>
    <li><p><a href="#마법-데미지-유닛">마법 데미지 유닛</a></p>
    <ul>
    <li><a href="#라인">라인</a></li>
    <li><a href="#보스">보스</a></li>
    </ul>
    </li>
    <li><p><a href="#물리-데미지-유닛">물리 데미지 유닛</a></p>
    <ul>
    <li><a href="#라인">라인</a></li>
    <li><a href="#보스">보스</a></li>
    <li><a href="#방어력-감소">방어력 감소</a></li>
    </ul>
    </li>
    </ol>
    <hr>
    <h2 id="조합법">조합법</h2>
    <h3 id="스페셜-유닛"><span style="color: gold">스페셜 유닛</span></h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    <th style="text-align:center">재료</th>
    <th style="text-align:center">타이핑 (영문)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: gold"><strong>카부토</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">앙코</span> + 목재 8</td>
    <td style="text-align:center">-카부토 구매 (-kabuto buy)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: gold"><strong>토비</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">나가토</span> + 목재 8</td>
    <td style="text-align:center">-토비 구매 (-tobi buy)</td>
    </tr>
    </tbody>
    </table>
    <h3 id="히든-유닛"><span style="color: deepskyblue">히든 유닛</span></h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    <th style="text-align:center">재료</th>
    <th style="text-align:center">타이핑 (영문)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>가마키치</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">가마분타</span> + <span style="color: magenta">가마히로</span></td>
    <td style="text-align:center">가마키치 조합 (gamakichi)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>나루토 6꼬리</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">나루토 풍둔</span> + <span style="color: magenta">나가토</span></td>
    <td style="text-align:center">6꼬리 조합 (sixtails)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>마키</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">가아라</span> + <span style="color: magenta">카카시</span></td>
    <td style="text-align:center">마키 조합 (maki)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>센쥬 하시라마</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">야마토</span> + <span style="color: magenta">이타치</span></td>
    <td style="text-align:center">하시라마 조합 (hashirama)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>센쥬 토비라마</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">나루토 풍둔</span> + <span style="color: magenta">앙코</span></td>
    <td style="text-align:center">토비라마 조합 (tobirama)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>테마리  풍둔술사</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">텐텐</span> + <span style="color: magenta">칸쿠로</span> + <span style="color: skyblue">칸쿠로</span></td>
    <td style="text-align:center">테마리 조합 (temari)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>쿠로츠치</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">사이 </span> + <span style="color: magenta">데이다라</span></td>
    <td style="text-align:center">쿠로츠치 조합 (kurotsuchi)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>아카츠치</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">텐텐</span> + <span style="color: magenta">흰 제츠</span></td>
    <td style="text-align:center">아카츠치 조합 (akatsuchi)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>키츠치</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">이노</span> + <span style="color: magenta">오모이</span></td>
    <td style="text-align:center">키츠치 조합 (kitsuchi)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>토루네</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">아부라메 시노</span> + <span style="color: magenta">야마나카 후</span></td>
    <td style="text-align:center">토루네 조합 (torune)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>오로치마루 백사</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">오로치마루</span> + <span style="color: magenta">쥬고 주인화</span></td>
    <td style="text-align:center">오로치마루 조합 (orochimaru)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>도롱뇽의 한조</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">앙코</span> + <span style="color: magenta">지라이야</span> +  <span style="color: skyblue">츠나데</span></td>
    <td style="text-align:center">한조 조합 (hanzo)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>카부토 세포 이식</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">앙코</span> + <span style="color: magenta">쿠레나이</span></td>
    <td style="text-align:center">스파이 조합 (spy)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>시무라 단조</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">카카시</span> + <span style="color: magenta">야마나카 후</span></td>
    <td style="text-align:center">단조 조합 (danzo)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>쥬고 완전주인화</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">쥬고 주인화</span> + <span style="color: magenta">쥬고 주인화</span></td>
    <td style="text-align:center">쥬고 조합 (jugo)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>히나타</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">히나타</span> + <span style="color: magenta">아부라메 시노</span> + 카부토</span></td>
    <td style="text-align:center">히나타 조합 (hinata)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>사소리 완전변형</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">사소리 아카츠키</span> + <span style="color: magenta">칸쿠로</span></td>
    <td style="text-align:center">사소리 조합 (sasori)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>지라이야 전설의 3닌자</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">가마분타</span> +<span style="color: magenta"> 지라이야 </span></td>
    <td style="text-align:center">지라이야 조합 (jiraiya)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>시이</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">킬러비</span> + <span style="color: magenta">오모이</span></td>
    <td style="text-align:center">시이 조합 (shii)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>키바 쌍두랑</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">쿠레나이</span> + <span style="color: magenta">휴우가 네지</span> + <span style="color: skyblue">키바</span></td>
    <td style="text-align:center">키바 조합 (kiba)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>사스케 기린</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">사스케 아카츠키</span> + <span style="color: magenta">이타치 아카츠키</span></td>
    <td style="text-align:center">기린 조합 (kirin)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>아오</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">키사메</span> + <span style="color: magenta">쵸쥬로</span></td>
    <td style="text-align:center">아오 조합 (ao)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deepskyblue"><strong>안개마을 닌자도 7인방</strong></span></td>
    <td style="text-align:center"><span style="color: magenta">자부자</span> + <span style="color: magenta">록리 연화</span> + <span style="color: magenta">쵸쥬로</span></td>
    <td style="text-align:center">닌자도 조합 (ninjado)</td>
    </tr>
    </tbody>
    </table>
    <h3 id="리미트-유닛"><span style="color: purple">리미트 유닛</span></h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    <th style="text-align:center">재료</th>
    <th style="text-align:center">타이핑 (영문)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: purple"><strong>오오츠츠키 인드라</strong></span></td>
    <td style="text-align:center"><span style="color: red">마다라</span> + <span style="color: red">사스케</span> + <span style="color: red">토비</span> + 클리어 점수 500점</td>
    <td style="text-align:center">육도선인의 눈을 물려받은 자 (otsutsuki indra)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple"><strong>오오츠츠키 아수라</strong></span></td>
    <td style="text-align:center"><span style="color: orange">나루토 선인모드</span> + <span style="color: deepskyblue">센쥬 하시라마</span>  + 클리어 점수 500점</td>
    <td style="text-align:center">육도선인의 육체를 물려받은 자 (otsutsuki asura)</td>
    </tr>
    </tbody>
    </table>
    <h3 id="영멸-유닛"><span style="color: deeppink">영멸 유닛</span></h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    <th style="text-align:center">재료</th>
    <th style="text-align:center">타이핑 (영문)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: deeppink"><strong>위장 스사노오(나루토)</strong></span></td>
    <td style="text-align:center"><span style="color: darkgreen">나루토 미수화</span> + 400 골드 + 인피니티 위습 2개 + <span style="color: deeppink">우즈마키 나루토 - 7대 호카게</span> + <span style="color: deeppink">우치하 사스케 - 방랑 닌자</span></td>
    <td style="text-align:center">두 사람의 유대감 (majestic susanoo naruto)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deeppink"><strong>위장 스사노오(사스케)</strong></span></td>
    <td style="text-align:center"><span style="color: darkgreen">사스케 3단계 스사노오</span> + 400 골드 + 인피니티 위습 2개 + <span style="color: deeppink">우즈마키 나루토 - 7대 호카게</span> + <span style="color: deeppink">우치하 사스케 - 방랑 닌자</span></td>
    <td style="text-align:center">또 한명의 호카게 (majestic susanoo sasuke)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deeppink"><strong>오오츠츠키 모모시키</strong></span></td>
    <td style="text-align:center"><span style="color: darkgreen">오오츠츠키 모모시키</span> + <span style="color: deeppink">차크라 열매 단</span> +  <span style="color: deeppink">오오츠츠키 킨시키</span> + 차크라 컨트롤 - 음</td>
    <td style="text-align:center">신목의 부활을 꾀하는 자 (otsutsuki momoshiki)</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deeppink"><strong>오오츠츠키 카구야</strong></span></td>
    <td style="text-align:center"><span style="color: darkgreen">10미</span> + <span style="color: deeppink">검은 제츠 * 2</span> + 미수 차크라</td>
    <td style="text-align:center">나의 의지는 카구야다 (otsutsuki kaguya)</td>
    </tr>
    </tbody>
    </table>
    <hr>
    <h2 id="디버프-유닛">디버프 유닛</h2>
    <h3 id="스턴">스턴</h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    <th style="text-align:center">시간</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: deeppink">이타치 완전체 스사노오</td>
    <td style="text-align:center">0.8</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deeppink">시스이 완전체 스사노오</td>
    <td style="text-align:center">0.8</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">우치하 이타치 스사노오 3단계</td>
    <td style="text-align:center">0.7</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">우치하 시스이 스사노오 3단계</td>
    <td style="text-align:center">0.7</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: gold">록리 취권</td>
    <td style="text-align:center">0.6</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">시노 벌레술사</td>
    <td style="text-align:center">0.5</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">키바 삼두랑</td>
    <td style="text-align:center">0.5</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">파쿠라 작둔</td>
    <td style="text-align:center">0.5</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">가리 폭둔</td>
    <td style="text-align:center">0.5</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">하시라마 선인모드 : 목룡</td>
    <td style="text-align:center">0.5</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">카부토 선인모드</td>
    <td style="text-align:center">0.4</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">우치하 마다라 완전체 스사노오</td>
    <td style="text-align:center">0.3</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">우즈마키 쿠시나 로드 투 닌자</td>
    <td style="text-align:center">0.3</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">우치하 마다라 스사노오 3단계</td>
    <td style="text-align:center">0.2</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">우미노 이루카 닌자 아카데미의 교사</td>
    <td style="text-align:center">0.2</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">코난 천사</td>
    <td style="text-align:center">0.2</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">사콘&amp;우콘 2단계</td>
    <td style="text-align:center">0.2</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: gold">1미 : 시카쿠</td>
    <td style="text-align:center">0.2</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">사이 호시탐탄</td>
    <td style="text-align:center">0.2</span></td>
    </tr>
    </tbody>
    </table>
    <h3 id="마비">마비</h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">마이트 가이 경문해제</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">우치하 오비토 윤회안</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">10미 모든 미수들의 집합체</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">오오노키 3대 츠치카게</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">오오츠츠키 인드라 태고의 투신</span></td>
    </tr>
    </tbody>
    </table>
    <h3 id="둔화">둔화</h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">센쥬 토비라마 호승기폭찰</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">하타케 카카시 닌자연합군 1대장</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">이노시카쵸 콤비네이션</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">킬러에이 4대 라이카게</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">나루토 미수화</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">테루미 메이 5대 미즈카게</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">오오츠츠키 아수라 인종을 계승하는 자</span></td>
    </tr>
    </tbody>
    </table>
    <h3 id="속박">속박</h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">우치하 사스케 스사노오 3단계</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">3대 라이카게</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">라사 4대 카제카게</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">금은형제 킨카쿠</span></td>
    </tr>
    </tbody>
    </table>
    <h3 id="혼란">혼란</h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: orange">하쿠 마경빙정</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">구렌 정둔술사</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">무우 2대 츠치카게</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">호즈키 겐게츠 2대 미즈카게</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">금은형제 긴카쿠</span></td>
    </tr>
    </tbody>
    </table>
    <h3 id="중독">중독</h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: gold">나가토 예토전생</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">페인 천도 아카츠키의 리더</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">오오츠츠키 모모시키 에픽</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">소리마을 5인방 1단계</span></td>
    </tr>
    </tbody>
    </table>
    <h3 id="고유">고유</h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: gold">3미 : 이소부</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: gold">오오츠츠키 킨시키</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">텐텐 파초선</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">소용돌이 제츠 토비</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">테마리 모래마을의 고귀한 바람</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">2단계 타유야</span></td>
    </tr>
    </tbody>
    </table>
    <hr>
    <h2 id="마법-데미지-유닛">마법 데미지 유닛</h2>
    <h3 id="라인">라인</h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: gold">메카나루토7610</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: gold">휴우가 하나비</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: gold">나가토 예토전생</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">10미 모든 미수들의 집합체</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">오오노키 3대 츠치카게</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">지라이야 선인모드</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">킬러에이 4대 라이카게</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">나루토 미수화</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">테루미 메이 5대 미즈카게</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">가아라 닌자 연합군의 연대장</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">오오츠츠키 토네리 하무라의 자손</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">우치하 마다라 스사노오 3단계</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">페인 천도 아카츠키의 리더</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">소용돌이 제츠 토비</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">센쥬 하시라마 선인모드</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">텐텐 파초선</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">이노 심전신의 술</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">카부토 선인모드</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">가마키치 묘목산 두꺼비</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">오오츠츠키 인드라 태고의 투신</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">오오츠츠키 아수라 인종을 계승하는 자</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">북문의 타유야 소리마을 5인방</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">남문의 지로보소리마을 5인방</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">서문의 사콘&amp;우콘 소리마을 5인방</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">우미노 이루카 닌자 아카데미의 교사</span></td>
    </tr>
    </tbody>
    </table>
    <h3 id="보스">보스</h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: gold">메카나루토9999 완전체</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: gold">휴우가 네지</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: gold">카쿠즈 예토전생</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">오로치마루 선인모드</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">나미카제 미나토 미수화</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">히단 사신화</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">히나타 유보쌍사권</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">테마리 모래마을의 고귀한 바람</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">오로치마루 야마타의 술</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">칸쿠로 사소리</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">키사메 완전변형</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">나루토 선인모드</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">외도마상 미수챠크라</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">사이 호시탐탄</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">우치하 사스케 아카츠키</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">카구야 키미마로 소리 5인방의 리더</span></td>
    </tr>
    </tbody>
    </table>
    <hr>
    <h2 id="물리-데미지-유닛">물리 데미지 유닛</h2>
    <h3 id="라인">라인</h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">마이트 가이 경문해제</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">우치하 오비토 윤회안</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">센쥬 토비라마 호승기폭찰</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">하타케 카카시 닌자연합군 1대장</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">이노시카쵸 콤비네이션</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">코난 천사</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: deeppink">오오츠츠키 모모시키 붉은 열매 단을 연성하는 자</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">우즈마키 쿠시나 로드 투 닌자</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: purple">동문의 키도마루 소리마을 5인방</span></td>
    </tr>
    </tbody>
    </table>
    <h3 id="보스">보스</h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: deeppink">오오츠츠키 모모시키 신목의 부활을 꾀하는 자</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">우치하 마다라 윤회천생</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">사루토비 히루젠 예토전생</span></td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: gold">오오츠츠키 킨시키</span></td>
    </tr>
    </tbody>
    </table>
    <h3 id="방어력-감소">방어력 감소</h3>
    <table>
    <thead>
    <tr>
    <th style="text-align:center">이름</th>
    <th style="text-align:center">방어력 감소</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">우치하 이타치 스사노오 3단계</span></td>
    <td style="text-align:center">100</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">우치하 시스이 스사노오 3단계</span></td>
    <td style="text-align:center">100</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: darkgreen">우치하 사스케 스사노오 3단계</span></td>
    <td style="text-align:center">100</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">하쿠 마경빙정</span> / <span style="color: orange">구렌 정둔술사</span></td>
    <td style="text-align:center">100</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">시노 벌레술사</span> / <span style="color: orange">키바 삼두랑</span></td>
    <td style="text-align:center">100</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">3대 라이카게</span> / <span style="color: orange">라사 4대 카제카게</span></td>
    <td style="text-align:center">100</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">무우 2대 츠치카게</span> / <span style="color: orange">호즈키 겐게츠 2대 미즈카게</span></td>
    <td style="text-align:center">100</td>
    </tr>
    <tr>
    <td style="text-align:center"><span style="color: orange">파쿠라 작둔</span> / <span style="color: orange">가리 폭둔</span></td>
    <td style="text-align:center">100</td>
    </tr>
    </tbody>
    </table>
    </body></html>