/**
 * Site header
 */
.site-header {
  border-top: 2.5px solid $border-color-03;
  border-bottom: 1px solid $border-color-01;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: sticky;
  top: 0;
  background-color: $background-color;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}

.site-nav {
  position: absolute;
  top: 9px;
  right: $spacing-unit * .5;
  background-color: $background-color;
  border: 1px solid $border-color-01;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $border-color-03;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;
    margin-left: 20px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;
      margin-left: auto;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
  display: table;
  margin: 0 auto;
}

.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}

.footer-col {
  margin-bottom: $spacing-unit * .5;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: table;
    margin: 0 auto;
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * .5);

    &:first-child {
      padding-right: $spacing-unit * .5;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit * .5;
    }
  }
}


/**
 * Home content
 */
.about {
  margin-bottom: $spacing-unit * 2;

  #about_img {
    text-align: center;
  }

  img {
    max-width: 50%;
    height: auto;
    transition: all .35s ease-in-out;
    cursor: zoom-in;
  }

  ul {
    padding-bottom: $spacing-unit;
    border-bottom: 1px solid $border-color-01;
  }
}


/**
 * Search content
 */
.search {
  div {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    border-radius: 5px;
    border: 1px solid $border-color-01;
    box-sizing: border-box;
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
    padding-top: 2.5%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    
    &:hover { border-color: $border-color-02 }
  }

  a {
    font-size: $base-font-size;
  }

  span {
    display: inline-block;
  }
}

.search-form {
  display: flex;
  align-items: center;
  border-radius: 7px;
  padding: 9px $base-font-size;
  margin-bottom: $base-font-size;
  border: 1px solid $border-color-01;

  form {
    flex: 1;
  }
}

.search-input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: $text-color;
  font-size: $base-font-size;
  padding-right: $small-font-size;
  padding-left: $small-font-size;
  
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration{
    display: none;
  }
}

.search-img {
  width: 1.25em;
  height: 1.25em;
  fill: currentColor;
}


/**
 * Label content
 */

.label-list {
  li {
    margin-bottom: $base-font-size;
    border-bottom: 1px solid $border-color-01;
  }
}

.category-list {
  li {
    font-size: $base-font-size * 1.5;
    margin-bottom: $spacing-unit;
    padding-bottom: $base-font-size;
    border-bottom: 1px solid $border-color-01;
  }
  
  span {
    font-size: $small-font-size;
    color: $brand-color;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;

  span {
    font-size: $small-font-size;
    color: $brand-color;
  }
}

.tag-item {
  margin-bottom: $base-font-size;
  margin-right: $base-font-size;
  padding: 7px $spacing-unit;
  border-radius: 7px;
  border: 1px solid $border-color-01;
  background-color: $background-color;

  &:hover { 
    border-color: $border-color-02;
    background-color: $border-color-01;
  }
}


/**
 * Page content
 */

.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.page-breadcrumb {
  color: $brand-color;
  margin-bottom: $spacing-unit;
}

.page-top {
  position: fixed;
  pointer-events: none;
  text-align: right;
  width: 100%;
  bottom: 0;
  margin-bottom: $spacing-unit;
  
  a {
    pointer-events: auto;
    margin-right: $spacing-unit;
    padding: $small-font-size;
  
    &:hover {
       text-decoration: none;
    }
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  border-bottom: 1px solid $border-color-01;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.25);
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.25);
  }
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  li {
    margin-bottom: $base-font-size;
    border-bottom: 1px solid $border-color-01;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
  
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  
}

.post-preview {
  display: inline-block;
  line-height: $base-line-height * 1.25;
  font-size: $small-font-size;
  color: $brand-color;

  a {
    color: $brand-color;
    
    &:hover {
      text-decoration: none;
    }
  }
}

.post-label {
  font-size: $small-font-size;
  color: $brand-color;
  
  &:visited {
    color: $site-title-color;
  }
}

.post-tag {
  float: right;
  margin-top: -1px;
  margin-right: $small-font-size;
  padding: 7px $base-font-size;
  border-radius: 7px;
  border: 1px solid $border-color-01;
  background-color: $background-color;

  &:hover { 
    border-color: $border-color-02;
    background-color: $border-color-01;
  }
}

.post-toc {
  background-color: $background-color;
  border: 1px solid $border-color-01;
  padding-bottom: $base-font-size;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  h4 {
    border-bottom: 2px solid $border-color-03;
    font-weight: 300;
  }

  li {
    line-height: $base-line-height * 1.25;
    margin-left: -10px;
  }
  
  @media screen and (min-width: $on-max) {
    display: block;
    position: fixed;
    top: 0;
    margin-top: $spacing-unit * 3;
    margin-right: $spacing-unit;
    margin-left: $on-large;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
  
  p {
    width: 100%;
    text-align: center;
  }
}


/**
 * Pagination navbar
 */
.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: 0;
  padding-top: $base-font-size;
  
  li {
    width: 30%;
    border: none;
    &:last-of-type { margin-right: 0 }

    a, div {
      text-align: center;
      box-sizing: border-box;
    }

    a {
      display: block;
      padding-top: $extra-small-font-size;
      padding-bottom: $base-font-size;
      padding-left: $extra-small-font-size;
      border: 1px solid $border-color-01;
      &:hover { 
        border-color: $border-color-02;
        background-color: $border-color-01;
      }
    }

    div {
      display: block;
      padding: $spacing-unit * .25;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}


/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
