---
layout: base
---

<div class="home">
  
  {%- include search.html -%}

  {{ content }}
  
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        {%- if post.category -%}
        <a class="post-label" href="{{ "/" | relative_url }}categories/{{ post.ategory | downcase }}">{{ post.category }}</a>
        <span class="post-meta">| </span>
        {%- endif -%} 
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
            <sub class="post-preview">{{ post.content | strip_html | truncatewords: 35 }}</sub>
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  
  {% if site.paginate %}
  <div class="pager">
    <ul class="pagination">
      <li>
      {%- if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">
          <svg class="svg-icon grey">
            <path d="M7.094 15.938l7.688 7.688-3.719 3.563-11.063-11.063 11.313-11.344 3.531 3.5z"/>
          </svg>
        </a>
      {%- else -%}
      </li>
      {%- endif %}
      <li>
      {%- if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="next-page">
          <svg class="svg-icon grey">
            <path d="M7.75 16.063l-7.688-7.688 3.719-3.594 11.063 11.094-11.344 11.313-3.5-3.469z"/>
          </svg>
        </a>
      {%- else -%}
      </li>
      {%- endif %}
    </ul>
  </div>
  {%- endif %}

  {%- endif -%}

</div>

