@charset "utf-8";

// Default color scheme settings
// These are overridden in classic.css and dark.scss

$color-scheme-auto: true !default;
$color-scheme-dark: false !default;

// Light mode
// ----------

$lm-brand-color: #59636e !default;
$lm-brand-color-light: #d1d9e0 !default;
$lm-brand-color-dark: #1f2328 !default;

$lm-site-title-color: $lm-brand-color-dark !default;
$lm-site-icon-color: #54aeff !default;

$lm-text-color: #1f2328 !default;
$lm-header-color: #f6f8fa !default;
$lm-hover-color: #eaedf0 !default;

$lm-background-color: #ffffff !default;
$lm-pre-background-color: #f6f8fa !default;
$lm-code-background-color: #818b981f !default;

$lm-link-base-color: #0969da !default;
$lm-link-visited-color: $lm-link-base-color !default;
$lm-link-hover-color: $lm-link-base-color !default;

$lm-border-color-01: $lm-brand-color-light !default;
$lm-border-color-02: lighten($lm-brand-color, 35%) !default;
$lm-border-color-03: $lm-brand-color-dark !default;

$lm-table-text-color: $lm-text-color !default;
$lm-table-zebra-color: $lm-header-color !default;
$lm-table-header-bg-color: $lm-background-color !default;
$lm-table-header-border: $lm-border-color-01 !default;
$lm-table-border-color: $lm-border-color-01 !default;

// Syntax highlighting styles should be adjusted appropriately for every "skin"
// ----------------------------------------------------------------------------

@mixin lm-highlight {
  .highlight {
    .c {
      color: #59636e;
    } // Comment
    .k {
      color: #cf222e;
    } // Keyword
    .o {
      font-weight: bold;
    } // Operator
    .cm {
      color: #59636e;
    } // Comment.Multiline
    .cp {
      color: #cf222e;
    } // Comment.Preproc
    .cpf {
      color: #0a3069;
    } // Comment.PreprocFunction
    .c1 {
      color: #59636e;
    } // Comment.Single
    .cs {
      color: #cf222e;
    } // Comment.Special
    .gd {
      color: #000;
      background-color: #fdd;
    } // Generic.Deleted
    .gd .x {
      color: #000;
      background-color: #faa;
    } // Generic.Deleted.Specific
    .ge {
      font-style: italic;
    } // Generic.Emph
    .gr {
      color: #a00;
    } // Generic.Error
    .gh {
      color: #1f2328;
    } // Generic.Heading
    .gi {
      color: #000;
      background-color: #dfd;
    } // Generic.Inserted
    .gi .x {
      color: #000;
      background-color: #afa;
    } // Generic.Inserted.Specific
    .go {
      color: #888;
    } // Generic.Output
    .gp {
      color: #1f2328;
    } // Generic.Prompt
    .gs {
      font-weight: bold;
    } // Generic.Strong
    .gu {
      color: #aaa;
    } // Generic.Subheading
    .gt {
      color: #a00;
    } // Generic.Traceback
    .kc {
      font-weight: bold;
    } // Keyword.Constant
    .kd {
      color: #cf222e;
    } // Keyword.Declaration
    .kn {
      color: #a00;
    } // Keyword.Name
    .kp {
      font-weight: bold;
    } // Keyword.Pseudo
    .kr {
      font-weight: bold;
    } // Keyword.Reserved
    .kt {
      color: #1f2328;
    } // Keyword.Type
    .m {
      color: #0550ae;
    } // Literal.Number
    .s {
      color: #0a3069;
    } // Literal.String
    .na {
      color: #6639ba;
    } // Name.Attribute
    .nb {
      color: #6639ba;
    } // Name.Builtin
    .nc {
      color: #6639ba;
    } // Name.Class
    .nd {
      color: #6639ba;
    } // Name.Class
    .no {
      color: #6639ba;
    } // Name.Constant
    .ni {
      color: #800080;
    } // Name.Entity
    .ne {
      color: #6639ba;
    } // Name.Exception
    .nf {
      color: #6639ba;
    } // Name.Function
    .nn {
      color: #953800;
    } // Name.Namespace
    .nt {
      color: #000080;
    } // Name.Tag
    .nv {
      color: #6639ba;
    } // Name.Variable
    .ow {
      font-weight: bold;
    } // Operator.Word
    .w {
      color: #bbb;
    } // Text.Whitespace
    .mf {
      color: #0550ae;
    } // Literal.Number.Float
    .mh {
      color: #0550ae;
    } // Literal.Number.Hex
    .mi {
      color: #0550ae;
    } // Literal.Number.Integer
    .mo {
      color: #0550ae;
    } // Literal.Number.Oct
    .sb {
      color: #0a3069;
    } // Literal.String.Backtick
    .sc {
      color: #0a3069;
    } // Literal.String.Char
    .sd {
      color: #0a3069;
    } // Literal.String.Doc
    .s2 {
      color: #0a3069;
    } // Literal.String.Double
    .se {
      color: #0a3069;
    } // Literal.String.Escape
    .sh {
      color: #0a3069;
    } // Literal.String.Heredoc
    .si {
      color: #0a3069;
    } // Literal.String.Interpol
    .sx {
      color: #0a3069;
    } // Literal.String.Other
    .sr {
      color: #009926;
    } // Literal.String.Regex
    .s1 {
      color: #0a3069;
    } // Literal.String.Single
    .ss {
      color: #990073;
    } // Literal.String.Symbol
    .bp {
      color: #0550ae;
    } // Name.Builtin.Pseudo
    .vc {
      color: #6639ba;
    } // Name.Variable.Class
    .vg {
      color: #6639ba;
    } // Name.Variable.Global
    .vi {
      color: #6639ba;
    } // Name.Variable.Instance
    .il {
      color: #0550ae;
    } // Literal.Number.Integer.Long
  }
}

// Dark mode
// ---------

$dm-brand-color: #9198a1 !default;
$dm-brand-color-light: #f0f6fc !default;
$dm-brand-color-dark: #3d444d !default;

$dm-site-title-color: $dm-brand-color-light !default;
$dm-site-icon-color: #9198a1 !default;

$dm-text-color: #f0f6fc !default;
$dm-header-color: #010409 !default;
$dm-hover-color: #1e242a !default;

$dm-background-color: #0d1117 !default;
$dm-pre-background-color: #151b23 !default;
$dm-code-background-color: #656c7633 !default;

$dm-link-base-color: #4493f8 !default;
$dm-link-visited-color: $dm-link-base-color !default;
$dm-link-hover-color: $dm-link-base-color !default;

$dm-border-color-01: $dm-brand-color-dark !default;
$dm-border-color-02: $dm-brand-color-light !default;
$dm-border-color-03: $dm-brand-color !default;

$dm-table-text-color: $dm-text-color !default;
$dm-table-zebra-color: lighten($dm-background-color, 4%) !default;
$dm-table-header-bg-color: lighten($dm-background-color, 10%) !default;
$dm-table-header-border: lighten($dm-background-color, 21%) !default;
$dm-table-border-color: $dm-border-color-01 !default;

// Syntax highlighting styles should be adjusted appropriately for every "skin"
// List of tokens: https://github.com/rouge-ruby/rouge/wiki/List-of-tokens
// Some colors come from Material Theme Darker:
// https://github.com/material-theme/vsc-material-theme/blob/master/scripts/generator/settings/specific/darker-hc.ts
// https://github.com/material-theme/vsc-material-theme/blob/master/scripts/generator/color-set.ts
// ----------------------------------------------------------------------------

@mixin dm-highlight {
  .highlight {
    .c {
      color: #9198a1;
    } // Comment
    .k {
      color: #ff7b72;
    } // Keyword
    .o {
      font-weight: bold;
    } // Operator
    .cm {
      color: #ff7b72;
    } // Comment.Multiline
    .cp {
      color: #ff7b72;
    } // Comment.Preproc
    .cpf {
      color: #a5d6ff;
    } // Comment.PreprocFunction
    .c1 {
      color: #9198a1;
    } // Comment.Single
    .cs {
      color: #ff7b72;
    } // Comment.Special
    .gd {
      color: #000;
      background-color: #fdd;
    } // Generic.Deleted
    .gd .x {
      color: #000;
      background-color: #faa;
    } // Generic.Deleted.Specific
    .ge {
      font-style: italic;
    } // Generic.Emph
    .gr {
      color: #f07178;
    } // Generic.Error
    .gh {
      color: #f0f6fc;
    } // Generic.Heading
    .gi {
      color: #000;
      background-color: #dfd;
    } // Generic.Inserted
    .gi .x {
      color: #000;
      background-color: #afa;
    } // Generic.Inserted.Specific
    .go {
      color: #888;
    } // Generic.Output
    .gp {
      color: #1f2328;
    } // Generic.Prompt
    .gs {
      font-weight: bold;
    } // Generic.Strong
    .gu {
      color: #aaa;
    } // Generic.Subheading
    .gt {
      color: #f07178;
    } // Generic.Traceback
    .kc {
      font-weight: bold;
    } // Keyword.Constant
    .kd {
      color: #ff7b72;
    } // Keyword.Declaration
    .kn {
      color: #f07178;
    } // Keyword.Name
    .kp {
      font-weight: bold;
    } // Keyword.Pseudo
    .kr {
      font-weight: bold;
    } // Keyword.Reserved
    .kt {
      color: #f0f6fc;
    } // Keyword.Type
    .m {
      color: #f78c6c;
    } // Literal.Number
    .s {
      color: #a5d6ff;
    } // Literal.String
    .na {
      color: #d2a8ff;
    } // Name.Attribute
    .nb {
      color: #d2a8ff;
    } // Name.Builtin
    .nc {
      color: #d2a8ff;
    } // Name.Class
    .nd {
      color: #d2a8ff;
    } // Name.Decoration
    .no {
      color: #6639ba;
    } // Name.Decoration
    .ni {
      color: #800080;
    } // Name.Entity
    .ne {
      color: #6639ba;
    } // Name.Exception
    .nf {
      color: #d2a8ff;
    } // Name.Function
    .nn {
      color: #ffa657;
    } // Name.Namespace
    .nt {
      color: #f0f6fc;
    } // Name.Tag
    .nv {
      color: #f0f6fc;
    } // Name.Variable
    .ow {
      font-weight: bold;
    } // Operator.Word
    .w {
      color: #6639ba;
    } // Text.Whitespace
    .mf {
      color: #f78c6c;
    } // Literal.Number.Float
    .mh {
      color: #f78c6c;
    } // Literal.Number.Hex
    .mi {
      color: #79c0ff;
    } // Literal.Number.Integer
    .mo {
      color: #f78c6c;
    } // Literal.Number.Oct
    .sb {
      color: #a5d6ff;
    } // Literal.String.Backtick
    .sc {
      color: #a5d6ff;
    } // Literal.String.Char
    .sd {
      color: #a5d6ff;
    } // Literal.String.Doc
    .s2 {
      color: #a5d6ff;
    } // Literal.String.Double
    .se {
      color: #6639ba;
    } // Literal.String.Escape
    .sh {
      color: #a5d6ff;
    } // Literal.String.Heredoc
    .si {
      color: #a5d6ff;
    } // Literal.String.Interpol
    .sx {
      color: #a5d6ff;
    } // Literal.String.Other
    .sr {
      color: #a5d6ff;
    } // Literal.String.Regex
    .s1 {
      color: #a5d6ff;
    } // Literal.String.Single
    .ss {
      color: #a5d6ff;
    } // Literal.String.Symbol
    .bp {
      color: #79c0ff;
    } // Name.Builtin.Pseudo
    .vc {
      color: #f0f6fc;
    } // Name.Variable.Class
    .vg {
      color: #6639ba;
    } // Name.Variable.Global
    .vi {
      color: #6639ba;
    } // Name.Variable.Instance
    .il {
      color: #f78c6c;
    } // Literal.Number.Integer.Long
  }
}

// Mode selection
// --------------

// Classic skin (always light mode)
// Assign outside of the if construct to establish global variable scope

$brand-color: $lm-brand-color;
$brand-color-light: $lm-brand-color-light;
$brand-color-dark: $lm-brand-color-dark;

$site-title-color: $lm-site-title-color;
$site-icon-color: $lm-site-icon-color;

$text-color: $lm-text-color;
$header-color: $lm-header-color;
$hover-color: $lm-hover-color;

$background-color: $lm-background-color;
$pre-background-color: $lm-pre-background-color;
$code-background-color: $lm-code-background-color;

$link-base-color: $lm-link-base-color;
$link-visited-color: $lm-link-visited-color;
$link-hover-color: $lm-link-hover-color;

$border-color-01: $lm-border-color-01;
$border-color-02: $lm-border-color-02;
$border-color-03: $lm-border-color-03;

$table-text-color: $lm-table-text-color;
$table-zebra-color: $lm-table-zebra-color;
$table-header-bg-color: $lm-table-header-bg-color;
$table-header-border: $lm-table-header-border;
$table-border-color: $lm-table-border-color;

@if $color-scheme-auto {
  // Auto mode

  :root {
    --minima-brand-color: #{$lm-brand-color};
    --minima-brand-color-light: #{$lm-brand-color-light};
    --minima-brand-color-dark: #{$lm-brand-color-dark};

    --minima-site-title-color: #{$lm-site-title-color};
    --minima-site-icon-color: #{$lm-site-icon-color};

    --minima-text-color: #{$lm-text-color};
    --minima-header-color: #{$lm-header-color};
    --minima-hover-color: #{$lm-hover-color};

    --minima-background-color: #{$lm-background-color};
    --minima-pre-background-color: #{$lm-pre-background-color};
    --minima-code-background-color: #{$lm-code-background-color};

    --minima-link-base-color: #{$lm-link-base-color};
    --minima-link-visited-color: #{$lm-link-visited-color};
    --minima-link-hover-color: #{$lm-link-hover-color};

    --minima-border-color-01: #{$lm-border-color-01};
    --minima-border-color-02: #{$lm-border-color-02};
    --minima-border-color-03: #{$lm-border-color-03};

    --minima-table-text-color: #{$lm-table-text-color};
    --minima-table-zebra-color: #{$lm-table-zebra-color};
    --minima-table-header-bg-color: #{$lm-table-header-bg-color};
    --minima-table-header-border: #{$lm-table-header-border};
    --minima-table-border-color: #{$lm-table-border-color};
  }

  @include lm-highlight;

  @media (prefers-color-scheme: dark) {
    :root {
      --minima-brand-color: #{$dm-brand-color};
      --minima-brand-color-light: #{$dm-brand-color-light};
      --minima-brand-color-dark: #{$dm-brand-color-dark};

      --minima-site-title-color: #{$dm-site-title-color};
      --minima-site-icon-color: #{$dm-site-icon-color};

      --minima-text-color: #{$dm-text-color};
      --minima-header-color: #{$dm-header-color};
      --minima-hover-color: #{$dm-hover-color};

      --minima-background-color: #{$dm-background-color};
      --minima-pre-background-color: #{$dm-pre-background-color};
      --minima-code-background-color: #{$dm-code-background-color};

      --minima-link-base-color: #{$dm-link-base-color};
      --minima-link-visited-color: #{$dm-link-visited-color};
      --minima-link-hover-color: #{$dm-link-hover-color};

      --minima-border-color-01: #{$dm-border-color-01};
      --minima-border-color-02: #{$dm-border-color-02};
      --minima-border-color-03: #{$dm-border-color-03};

      --minima-table-text-color: #{$dm-table-text-color};
      --minima-table-zebra-color: #{$dm-table-zebra-color};
      --minima-table-header-bg-color: #{$dm-table-header-bg-color};
      --minima-table-header-border: #{$dm-table-header-border};
      --minima-table-border-color: #{$dm-table-border-color};
    }

    @include dm-highlight;
  }

  $brand-color: var(--minima-brand-color);
  $brand-color-light: var(--minima-brand-color-light);
  $brand-color-dark: var(--minima-brand-color-dark);

  $site-title-color: var(--minima-site-title-color);
  $site-icon-color: var(--minima-site-icon-color);

  $text-color: var(--minima-text-color);
  $header-color: var(--minima-header-color);
  $hover-color: var(--minima-hover-color);

  $background-color: var(--minima-background-color);
  $pre-background-color: var(--minima-pre-background-color);
  $code-background-color: var(--minima-code-background-color);

  $link-base-color: var(--minima-link-base-color);
  $link-visited-color: var(--minima-link-visited-color);
  $link-hover-color: var(--minima-link-hover-color);

  $border-color-01: var(--minima-border-color-01);
  $border-color-02: var(--minima-border-color-02);
  $border-color-03: var(--minima-border-color-03);

  $table-text-color: var(--minima-table-text-color);
  $table-zebra-color: var(--minima-table-zebra-color);
  $table-header-bg-color: var(--minima-table-header-bg-color);
  $table-header-border: var(--minima-table-header-border);
  $table-border-color: var(--minima-table-border-color);
} @else if $color-scheme-dark {
  // Dark skin (always dark mode)

  $brand-color: $dm-brand-color;
  $brand-color-light: $dm-brand-color-light;
  $brand-color-dark: $dm-brand-color-dark;

  $site-title-color: $dm-site-title-color;
  $site-icon-color: $dm-site-icon-color;

  $text-color: $dm-text-color;
  $header-color: $dm-header-color;
  $hover-color: $dm-hover-color;

  $background-color: $dm-background-color;
  $pre-background-color: $dm-pre-background-color;
  $code-background-color: $dm-code-background-color;

  $link-base-color: $dm-link-base-color;
  $link-visited-color: $dm-link-visited-color;
  $link-hover-color: $dm-link-hover-color;

  $border-color-01: $dm-border-color-01;
  $border-color-02: $dm-border-color-02;
  $border-color-03: $dm-border-color-03;

  $table-text-color: $dm-table-text-color;
  $table-zebra-color: $dm-table-zebra-color;
  $table-header-bg-color: $dm-table-header-bg-color;
  $table-header-border: $dm-table-header-border;
  $table-border-color: $dm-table-border-color;

  @include dm-highlight;
} @else {
  // Classic skin syntax highlighting
  @include lm-highlight;
}
